<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>MuseaBase</title>
</head>

<body>
  <div class="container">
    <br />
    <h2>Update Tour</h2>
    <br />
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Museums</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/view_museums">View Museums</a>
          <a class="dropdown-item" href="/add_museum">Add Museum</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Media</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/view_media">View Media</a>
          <a class="dropdown-item" href="/add_media">Add Media</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Visitors</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/view_visitors">View Visitors</a>
          <a class="dropdown-item" href="/add_visitor">Add Visitor</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Visits</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/view_visits">View Visits</a>
          <a class="dropdown-item" href="/add_visit">Add Visit</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Tours</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/view_tours">View Tours</a>
          <a class="dropdown-item" href="/add_tour">Add Tour</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Attendances</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/view_attendances">View Attendances</a>
          <a class="dropdown-item" href="/add_attendance">Add Attendance</a>
        </div>
      </li>
    </ul>
    <div>
      <br>
      <br>
      <table class="table table-primary table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Price</th>
            <th scope="col">Capacity</th>
            <th scope="col">Enrolled</th>
            <th scope="col">Museum</th>
            <th scope="col" style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <form id="update_tour" action="/updatetour" method="post">
              <td><input type="date" class="form-control" name="date" value="{{tours.date}}"></td>
              <td><input type="time" class="form-control" name="startTime" value="{{tours.startTime}}"></td>
              <td><input type="time" class="form-control" name="endTime" value="{{tours.endTime}}"></td>
              <td><input type="number" class="form-control" name="price" step="0.01" value="{{tours.price}}"></td>
              <td><input type="number" class="form-control" name="capacity" value="{{tours.capacity}}"></td>
              <td><input type="number" class="form-control" name="numberEnrolled" value="{{tours.numberEnrolled}}"></td>
              <td>
                <select name="museumID" class="form-control">
                  {{#each museums}}
                  <option value="{{museumID}}">{{name}}</option>
                  {{/each}}
                </select>
              </td>
            </form>
            <td><button class="btn btn-primary" onclick="updateTour({{tours.tourID}})">Update</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- jQuery, Popper.js, Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>